body {
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.MuiPaper-root {
  border-radius: 10px;
  background-color: #ffffff;
}

.MuiButton-containedPrimary {
  background-color: #8b4513; /* Coffee color */
  color: white;
  padding: 10px 20px;
}

.MuiButton-containedPrimary:hover {
  background-color: #6a3310;
}

.MuiTypography-h4 {
  font-family: 'Pacifico', cursive;
  color: #6a3310; /* Coffee brown */
}
